@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    padding-top: 70px; /* Utrymme under navbaren */
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    top: 0;
    margin-top: 0;
}

.home-title {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #00ff40;
    margin-bottom: 0;
}

.home-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #cac400;
    max-width: 80%;
    margin-bottom: 20px;
}

.home-description {
    font-size: 1.2rem;
    color: #555;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsiva justeringar för mindre skärmar */
@media (max-width: 768px) {
    .home-title {
        font-size: 3rem; /* Lite större för mellanstora skärmar */
    }

    .home-subtitle {
        font-size: 1.2rem;
    }

    .home-description {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .home-container {
        padding: 20px 10px; /* Minska padding för små skärmar */
        padding-top: 60px; /* Justera utrymme under navbaren */
    }

    .home-title {
        font-size: 2rem;
    }

    .home-subtitle {
        font-size: 1rem;
    }

    .home-description {
        font-size: 0.9rem;
    }
}
