.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  background-color: transparent;
}

.navbar-title {
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 8px;
  padding: 0px 4px;
}


.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  transition: background-color 0.3s ease, border 0.3s ease;
  background-color: rgba(50, 50, 50, 0.98);
}

.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
}

/* Menu links - initially hidden */
.navbar-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 20px;
  background-color: rgba(50, 50, 50, 0.98);
  padding: 10px;
  border-radius: 8px;
  z-index: 1001;
}

.navbar-links li {
  list-style: none;
  margin: 8px 0;
}

.navbar-links.open {
  display: flex;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .navbar-title {
    color: rgba(220, 220, 220, 0.98);
    background-color: rgba(50, 50, 50, 0.98);
  }

  .hamburger-menu {
    border: 2px solid rgba(220, 220, 220, 0.98);
  }

  .bar {
    background-color: rgba(220, 220, 220, 0.98);
  }

  .navbar-links {
    background-color: rgba(50, 50, 50, 0.98);
  }

  .navbar-links li a {
    color: rgba(220, 220, 220, 0.98);
  }

  .navbar-links li a:hover {
    background-color: #00e45f;
    color: black;
  }
}

/* Light theme */
@media (prefers-color-scheme: light) {
  .navbar-title {
    color: black;
    background-color: rgba(220, 220, 220, 0.98);
  }

  .hamburger-menu {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(220, 220, 220, 0.98);
  }

  .bar {
    background-color: black;
  }

  .navbar-links {
    background-color: rgba(220, 220, 220, 0.98);
  }

  .navbar-links li a {
    color: black;
  }

  .navbar-links li a:hover {
    background-color: #00ff40;
    color: black;
  }
}